/*Main Content & Master Styles*/

.hero{
  text-align: center;
  padding: 20px;
}

h1 {
  padding-top: 25px;
}

.hero p {
  padding-bottom: 15px;
}

.dog-block {
  max-width: 100%;
  margin: auto;
  
}


/*Breed Specific Styling*/

.breed-box {
  background-color: #f7f7f7;
  padding: 25px;
  max-width: 900px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.breed-website {
  padding-bottom: 10px;
  text-align: center;
}

.weights{
  font-weight: 600;
}

.weight {
  font-weight: 800;
}

.breed-box p {
  text-transform: capitalize;
}

.breed-box h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.breed-box h2 {
  text-align: center;
}

.breed-box h3 {
  text-align: center;
}



/*Navigation Styling*/

.main-nav {
  background-color: #00afcc;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #d6d6d6; 
}

.nav-logo {
  color: white;
}