.App {
  text-align: center;
}




.main-nav {
  background-color: #00afcc;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #f3f3f3
}

.main-content {
  padding-top: 25px;
}

.nav-logo {
  color: white;
}